<li lang="objectivec-swift">
    <a href="{{ site.objectivec-swift }}" class="otherLinkColour">iOS Edition Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-objectivec-swift.html" -%}
<li lang="android">
    <a href="{{ site.android }}" class="otherLinkColour">Android Edition Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-android.html" -%}
